<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h2>Forgot Password</h2>
    <p>Enter your email address to reset your password.</p>

    <form id="forget-password">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Reset Password</button>
    </form>
    <div id="divForm" style="display: none;">
        <p id="pid1" style="display: none;">Reset link sent successfully to your email</p>
        <p id="pid2" style="display: none;">Email don't Exists</p>
        <p id="pid3" style="display: none;">Something went wrong</p>
        
    </div>

    <p>Remember your password?<a href="../Login/index.html">Please login</a></p>
    <label id="status"></label>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="./script.js"></script>
</body>
</html>
