<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    
    <form action="/success" method="POST">
        <input type="text" name="userName"/><br>
        <input type="email" name="email"/><br>
        <input type="submit" value="Submit"/>
    </form>
<%- include('includes/end.ejs') %>